@mixin mobile{
    @media (max-width: 768px){
        @content
    }
}

body{
    background-color: $main-blue;
}

//設定 router-link 不要是超連結預設樣式
a{
    color: #000000;
    text-decoration: none;
}

.h-100vh{
    height: 100vh;
}

// main-blue
.blue-btn{
    background-color: $main-blue;

    &:hover{
        background-color: #83ceec;
    }
}

// text-blue
.textblue-btn{
    color: #ffffff;
    background-color: $text-blue;

    &:hover{
        background-color: #68a3ea;
    }
}

.gray-btn{
    background-color: $light-gray;

    &:hover{
        background-color: #c8c8c8;
    }

    &:active{
        background-color: #c8c8c8;
    }
}